/* @import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-toggle: #ffffff;
    --color-toggletext: #000000;
  }
  
  @layer base {
    @variant dark {
      --color-toggle: #000000;
      --color-toggletext: #ffffff;
    }
  } */
